* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  background-color: #000;
}

.container {
  height: 90vh;
  position: relative;
  background-color: #000000;
  padding-top: 30px;
}

.heading {
  background-color: #1a1a75;
  color: #fff;
  height: 10vh;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.table-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 80%;
  max-width: 900px;
  margin: 0 auto;
  overflow: auto;
}

.table {
  color: #fff;
  border: 1px solid #fff;
  border-collapse: collapse;
}

.table-head {
  text-align: left;
}

.data-header {
  padding: 10px;
  border: 1px solid #fff;
}

.data {
  padding: 10px;
  border: 1px solid #fff;
  white-space: nowrap;
}

.number {
  text-align: center;
}

.message--empty {
  text-align: center;
  font-size: 32px;
  padding: 40px;
}

.icon--read,
.icon {
  width: 40px;
  height: 40px;
}

.did-read {
  background-color: green;
}

.not-read {
  background-color: #777;
}

.read,
.option {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon--read,
.option {
  transition: transform 0.3s;
}

.read:hover .icon--read,
.option:hover {
  transform: scale(1.3);
}

.icon--add {
  color: #fff;
  height: 30px;
  width: 30px;
}

.icon-box {
  border: 4px solid #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 40px;
  right: 40px;
  padding: 10px;
  transition: transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-box:hover {
  transform: scale(1.2);
}

.icon-box:active {
  transform: scale(1);
}

.form {
  padding: 20px;
  border: 1px solid #fff;
  max-width: 400px;
  margin: 50px auto;
  color: #fff;
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form-title {
  margin-bottom: 60px;
  text-align: center;
}

.form-field {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

label {
  width: 75px;
  text-align: left;
}

.input {
  width: 150px;
  background-color: #000;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.input::placeholder {
  color: #fff;
}

.input:focus {
  outline: none;
  border-width: 2px;
}

.btn--submit {
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  padding: 20px 40px;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  transition: transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn--submit:hover {
  transform: scale(1.1);
}

.btn--submit:active {
  transform: scale(0.9);
}

.dropdown {
  width: 150px;
}
